<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="gallery">
    <a target=" _blank">
      <img src="assets/img/gallery1.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery2.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery3.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery4.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery5.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery6.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery8.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery9.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery10.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery11.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery11.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery13.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery14.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>

  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/gallery15.jpg" alt="Couldn't Load Image" width="600" height="400" >
    </a>
  </div>


  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
