<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <center>
    <div>
      <img class="cover_pic" src="assets/img/cover_photo.jpg" alt="Couln't Load Image">
      <img class="profile_pic" src="assets/img/profile.jpg" alt="Couln't Load Image">
    </div>
  </center>
  <div class="user-meta ion-text-center">
    <p class="username">JOFANA METANTE</p>
    <p class="motto">"Be the Right One"</p>
    <p>Studied at <big>Eastern Visayas State University - Carigara Campus</big> </p>
    <p >Lives in <big>Barugo Leyte</big> </p>
    <p>From <big>Barugo Leyte</big> </p>
    <p>Female</p>
    <p>Single</p>
  </div>

  <ion-card class="left"></ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
