<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img src="assets/img/gallery10.jpg" alt="Couldn't Load Image" width="90" height="90">
    <big> My Number: +639153948702</big>
  </ion-card>
  <ion-card>
    <img src="assets/img/gallery9.jpg" alt="Couldn't Load Image" width="90" height="90">
    <big> Email: jofanametante@gmail.com</big>
  </ion-card>
  <ion-card>
    <img src="assets/img/gallery14.jpg" alt="Couldn't Load Image" width="90" height="90">
    <big> Facebook: Jofana Metante</big>
  </ion-card>
  <ion-card>
    <img src="assets/img/gallery7.jpg" alt="Couldn't Load Image" width="90" height="90">
    <big> Instagram: Ana Jofana</big>
  </ion-card>
  

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
